.foyer img {
  margin: 0;
  padding: 0;
  width:520%;
  height: 100%;
}

.foyerdoordiv{
  position: relative;
}

.foyerdoor{
  position: absolute;
  margin-top:230px;
  left:15.7%;
  background: none;
  border: none;
}

.foyerdoor:hover {
  filter: 
  /* drop-shadow(2px 2px 2px #aca5a5)
    drop-shadow(2px -2px 2px #aca5a5)  */
    drop-shadow(-5px -5px 5px #aca5a5)
    /* drop-shadow(-2px 2px 2px #aca5a5); */
}