.holderdiv{
  display: flex;
  flex-direction: row;
}

.inventoryimg {
  width: auto;
  max-height: 200px;
}

.spacing{
  margin: 0px 20px 0px 20px;
}

.inventoryCloseButton {
  right: 32%;
  top: 8%;
}
