.holderdiv{
  display: flex;
  flex-direction: row;
}

.inventoryimg {
  width: auto;
  max-height: 200px;
}

.spacing{
  margin: 0px 20px 0px 20px;
}

.inventoryCloseButton {
  right: 32%;
  top: 8%;
}

.close {
  position: absolute;
  padding-top: 0px;
  border-radius: 5px;
  margin-right: 6px;
  margin-top: 6px;
  background-color: #ffffff;
  opacity: 1;
  font-size: 20px;
}