body {
  background-image: url(../../public/highangle-paper.png);
  background-repeat: no-repeat;
}

.block {
  display: none;
}

.block img {
  display: none
}

.button {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.jigdiv {
  position: relative;
}

.frame {
  position: absolute;
  opacity: 0;
  background: none;
  border:none;
  height: 270px;
  padding: 0;
  margin: 41px 0px 0px 38px;
}

.frame:hover {
  filter: drop-shadow(2px 2px 0.5px white) drop-shadow(-2px 2px 0.5px white)
    drop-shadow(-2px -2px 0.5px white) drop-shadow(2px -2px 0.5px white);
  opacity: 1;
}


.lockdiv {
  position: relative;
}

.lock {
  position: absolute;
  background: none;
  border:none;
  height: 0px;
  width: 0px;
  padding: 0px;
  margin: 211.5px 0px 0px 529px;
  opacity: 0%
}

.lock img {
  height: 40px;
  width: 25px;
  
}

.lock:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}


.platediv {
  position: relative;
}

.plateR {
  position: absolute;
  background: none;
  border:none;
  opacity:0;
  padding: 0px;
  margin: 706px 0px 0px 1114px
}

.plateR img{
  height:68px;
}

.plateR:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}


.plateL {
  position: absolute;
  background: none;
  border:none;
  padding: 0px;
  margin: 355px 0px 0px 322px;
  opacity:0%

}

.plateL img{
  height:72px;
}

.plateL:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}

.clockdiv {
  position:relative
}

.clockbod {
  position: absolute;
  background: none;
  border:none;
  padding: 0px;
  margin: 152px 0px 0px 282px;
  opacity:0%

}

.clockbod img{
  height:148px;
}

.clockbod:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}


.duckdiv {
  position:relative
}

.duck {
  position:absolute;
  height: 33px;
  margin:180px 0px 0px 1190px; 
}

.duck:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}

.mirror {
  position:relative
}

.mirror {
  position:absolute;
  height:80px;
  margin:285px 0px 0px 1230px; 
}

.mirror:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}



.pumpkin {
  position:relative
}

.pumpkin {
  position:absolute;
  height:62px;
  margin:486px 0px 0px 1200px; 
}

.pumpkin:hover {
  filter: drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white) drop-shadow(0.5px 0.5px 0.5px white)
    drop-shadow(0.5px 0.5px 0.5px white);
  opacity: 1;
}