html body {
  height: 100vh;
  width: 100vw;
  padding: none;
  margin: none;
  font-family: 'Copse';
  /* font-variant: small-caps; */
}

h2 {
  font-variant: small-caps;
}

h1 {
  font-variant: small-caps;
}

p {
  font-size: large;
}

.close {
  position: absolute;
  padding-top: 0px;
  border-radius: 5px;
  margin-right: 6px;
  margin-top: 6px;
  background-color: #ffffff;
  opacity: 1;
  font-size: 20px;
  right: 5px;
  top: 5px;
}

.popup {
  background-color: rgb(219, 208, 193);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}
