.direction {
  background: none;
  border:none;
  filter: drop-shadow(1px 1px 1px black)
          drop-shadow(-1px -1px 1px black)
          drop-shadow(1px -1px 1px black)
          drop-shadow(-1px 1px 1px black);
}

.direction:hover {
  filter: drop-shadow(2px 2px 1px #fafdc4)
          drop-shadow(-2px -2px 1px #fafdc4)
          drop-shadow(2px -2px 1px #fafdc4)
          drop-shadow(-2px 2px 1px #fafdc4);
}

.left{
  position: absolute;
  top: 400px;
  left: 20px;
}
.right{
  position: absolute;
  top: 400px;
  right: 20px;
}
.forward{
  position: absolute;
  top: 10px;
  left: 742px;
}
.back{
  position: absolute;
  bottom: 10px;
  left: 630px;
}