.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-popup {
  width: 75%;
  height: 80%;
}

.gameCloseButton {
  right: 1%;
  top: 2%;
}

.clockbod-popup {
  width: 35%;
  height: 80%;
}

.clockface-popup {
  width: 70%;
  height: 80%;
}

.clue-popup {
  width: 20%;
  height: 15%;
}

.clueCloseButton {
  right: 39%;
  top: 41%;
}

.map-popup {
  width: 75%;
  height: 80%;
}

.piece-clue-popup {
  width: 20%;
  height: 35%;
}

.pieceCloseButton {
  right: 39%;
  top: 31%;
}

#gnome-popup {
  width: 20%;
  height: 35%;
}

#gnome-close {
  right: 39%;
  top: 30.5%;
}

#inventory-popup {
  width: 760px;
  height: 210px;
}
