.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.game-popup {
  background-color: white;
  /* width: 90em;
  height: 45em; */
  width: 75%;
  height: 80%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.closeButton {
  position: absolute;
  right: 1%;
  top: 2%;
  padding-top: 0px;
  border-radius: 5px;
  margin-right: 6px;
  margin-top: 6px;
  background-color: #ffffff;
  opacity: 1;
  font-size: 20px;
}

.clockbod-popup {
  background-color: white;
  width: 35%;
  height: 80%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.clockface-popup {
  background-color: white;
  width: 70%;
  height: 80%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.duck-popup {
  background-color: rgb(219, 208, 193);
  width: 20%;
  height: 15%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.duckCloseButton {
  position: absolute;
  right: 39%;
  top: 41%;
  padding-top: 0px;
  border-radius: 5px;
  margin-right: 6px;
  margin-top: 6px;
  background-color: #ffffff;
  opacity: 1;
  font-size: 20px;
}
