.puzzle-container {
  border: 5px dotted blue;
  display: grid;
  grid-template-areas: 'entrance middle corner' 'entrance middle exit';
  justify-content: center;
  justify-items: center;
  width: 58%;
  height: 450px;
  margin: 0 auto;
}

.entrance {
  grid-area: entrance;
  position: relative;
  left: 140px;
}

.middle {
  position: relative;
  grid-area: middle;
  left: 90px;
}

.corner {
  grid-area: corner;
  position: relative;
  left: -140px;
}

.exit {
  grid-area: exit;
  position: relative;
  top: -40px;
  left: -70px;
}

/* .middle {
  top: 3em;
  left: 25em;
} */

.pieces {
  display: flex;
  height: 10em;
  top: 35em;
  left: 25em;
  position: absolute;
}
