.puzzle-table {
  background-image: url('puzzle-images/console-top.png');
  background-size: cover;
  background-position: center;
}

.puzzle-outline {
  /* border: 5px dotted blue; */
  border-width: 5px;
  border-style: dashed;
  display: grid;
  grid-template-areas: 'entrance middle corner' 'entrance middle exit';
  justify-content: center;
  justify-items: center;
  width: 58%;
  height: 450px;
  margin: 0 auto;
}

.puzzle-container {
  padding: 20px;
}

.entrance {
  grid-area: entrance;
  position: relative;
  left: 85px;
}

.middle {
  position: relative;
  grid-area: middle;
  left: 35px;
}

.corner {
  grid-area: corner;
  position: relative;
  top: -73px;
  left: -140px;
}

.exit {
  grid-area: exit;
  position: relative;
  top: -180px;
  left: -70px;
}

/* .empty-slot {
  position: absolute;
} */

.entrance-empty {
  grid-area: entrance;
  position: relative;
  left: 135px;
}

.corner-empty {
  grid-area: corner;
  position: relative;
  left: -135px;
}

.exit-empty {
  grid-area: exit;
  position: relative;
  top: -53px;
  left: -70px;
}

.pieces {
  display: flex;
  height: 5px;
  top: 35em;
  left: 25em;
  position: absolute;
}

.inventory-piece {
  display: flex;
  flex-direction: column;
  height: 10px;
  margin: 5px 50px;
}

.inventory-piece img {
  height: 150px;
  margin: 10px 0px;
}
