.puzzle-container {
  border: 2px dotted blue;
  display: grid;
  grid-template-areas: 'entrance middle corner' 'entrance middle exit';
  justify-content: center;
}

.entrance {
  grid-area: entrance;
}

.middle {
  grid-area: middle;
}

.corner {
  grid-area: corner;
}

.exit {
  grid-area: exit;
}

/* .middle {
  top: 3em;
  left: 25em;
} */

.pieces {
  display: flex;
  height: 10em;
  top: 35em;
  left: 25em;
  position: absolute;
}
